body {
    margin: 0;
    padding: 0;
}

header {
    background: rgba(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36.1) 0%, rgba(70, 70, 221) 0%, rgba(0, 212, 255, 1) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}



.container {
    width: 1200px;
    margin: 0 auto;
}

.app {
    width: 110px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.offer {
    width: 700px;
    font-family: 'Times New Roman', sans-serif;
}


.title1 {
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
}


.btn {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FFD429;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: all 0.5;
    font-family: 'Times New Roman', sans-serif;
}

.btn:hover {
    background-color: rgba(249, 194, 31);
    box-shadow: 10px 10px 10px grey;
}

.header_img {
    width: 500px;
    padding-left: 15%;
}

.header_img:hover {
    transform: translateX(10px);
}

/*second section*/
.main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.first_title {
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    margin-bottom: 60px;
}

.first_block {
    display: flex;
    justify-content: space-between;
}

.blocks {
    text-align: center;
    width: 30%;
    font-family: 'Times New Roman', sans-serif;
}

.blocks img {
    margin-bottom: 30px;
    animation: jump infinite 2s;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.form {
    background-color: rgba(227, 244, 249, 1);
    width: 100%;
    align-items: center;
}

/**third section*/

.second_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', sans-serif;
    padding-top: 80px;
}

.second_block {
    display: flex;
    justify-content: flex-start;
}

.blck {
    padding-left: 38%;
    width: 25%;
    font-family: 'Times New Roman', sans-serif;
}

.field {
    text-align: center;
    width: 230px;
    border-radius: 6px;
    padding: 2%;
    background-color: white;
    border-color: lightgrey;
    margin: 8px;
    box-sizing: border-box;
    flex-grow: 1;
    transition: width 0.3s ease;
}

.button {
    width: 255px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFD429;
    border-radius: 500px;
    font-size: 16px;
    color: black;
    border-color: black; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.button:hover {
    transform: scale(1.5);
}

.button:hover {
    background-color: rgba(249, 194, 31);
    box-shadow: 10px 10px 10px grey;
}

/*fourth section*/

.end {
    background: rgba(227, 244, 249, 1);
    padding-top: 60px;
    animation: changeBackground 3s infinite;
    padding-bottom: 60px;
    left: 0;
    right: 0;
}

@keyframes changeBackground {
    0% {
        background-color: rgba(230, 250, 270);
        background-image: linear-gradient(60deg, rgba(300, 380, 221) 0%, rgba(0, 212, 255, 1) 100%);
    }
    50% {
        background-color: rgba(300, 320, 340);
        background-image: linear-gradient(60deg, rgba(380, 450, 320) 0%, rgba(0, 150, 230, 100) 100%);
    }
    100% {
        background-color: rgba(370, 390, 410);
        background-image: linear-gradient(60deg, rgba(420, 520, 400) 0%, rgba(0, 212, 255, 1) 100%);
    }
}
  
  

.typing_text {
    color: #808080;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 2px solid transparent;
    animation: typing-and-deleting 4s steps(50, end) infinite, blink-cursor-typing-deleting .75s step-end infinite;
}

@keyframes typing-and-deleting {
    0%, 100% {
        width: 0;
    }

    50% {
        width: 100%;
    }
}

@keyframes blink-cursor-typing-deleting {
    50% {
        border-color: transparent;
    }
}

